html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    overflow: hidden;
    font-size: 100%;
    font: inherit;
    font-family: "PT Sans", sans-serif;
}

:root {
    --color-pink: #e31b6d;
    --color-dark: #17181c;
    --color-white: #f7f7f7;
    --color-surf: #08fdd8;
}

.hide {
    display: none;
}

.car,
.enemy {
    width: 50px;
    height: 100px;
    background-image: url(image/player.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 225px;
    bottom: 10px;
    z-index: 5;
}

.gamearea {
    height: 100vh;
    position: relative;
    margin: auto;
    background: rgb(143, 143, 143);
    /*overflow: hidden;*/
    width: calc(390 / 590 * 100%);
    max-width: 390px;
}

.line_block {
    position: absolute;
    left: 0;
    right: 0;
    height: 300px;
    background-image: url("image/gravity/img_1.png");
    /*width: 100%;*/
    background-size: 100% 300px;
    background-repeat: no-repeat;
    padding: 0 calc(100vw * 100 / 590);
    max-width: 590px;
    z-index: 1;
}

.puddle {
    width: 100%;
    height: calc(100vw * 135 / 590);
    background-image: url(image/offroad/puddle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: 4;
    max-height: 154px;
    left: 0;
}

.splash {
    width: calc(100% * 212 / 590);
    height: 61px;
    background-image: url(image/splash.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: 8;
}

.splash.splash-after {
    width: calc(100% * 300 / 590);
    height: 86px;
    background-image: url(image/splash2.svg);
}

.splash.hide {
    display: none;
}

.start__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background: var(--color-white);
    text-align: center;
    border: 2px solid var(--color-dark);
    border-radius: 10px;
    overflow: hidden;
    z-index: 201;
}

.difficulty {
    padding: 20px 0;
    border-bottom: 2px solid var(--color-dark);
}

.difficulty p {
    font-weight: 500;
}

.difficulty__title {
    font-size: 1.5rem;
    color: var(--color-dark);
}

.difficulty__subtitle {
    font-size: 1rem;
    color: #999;
    margin-bottom: 20px;
}

.difficulty-selected {
    font-size: 1rem;
    color: #999;
}

.difficulty__button {
    cursor: pointer;
    min-width: 100px;
    padding: 0.5rem;
    margin: 0 5px 15px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    font-family: inherit;
    background-color: var(--color-dark);
    outline: none;
    border: 1px solid var(--color-dark);
    border-radius: 4px;
    transition: all 0.2s linear;
}

.difficulty__button.active {
    color: var(--color-dark);
    background-color: #fff;
}

.difficulty__button:hover {
    color: var(--color-dark);
    background-color: #fff;
    border-color: #999;
}

.game__start {
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    background: var(--color-dark);
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    transition: all 0.2s linear;
    z-index: 200;
    border: 0;
    outline: none;
}

.game__start:focus {
    outline: none;
}

.game__start:hover {
    color: var(--color-dark);
    background: #fff;
}

.score_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 200;
    font-size: 1.5em;
    color: #074989;
    text-align: center;
    font-weight: 600;
    background-image: url(image/score.svg);
    background-size: 100% 60px;
    background-repeat: no-repeat;
    position: fixed;
    top: 25px;
    right: 0;
    background-position-y: top;
    left: 50%;
    transform: translate(-50%, 0);
    background-position: center;
    width: fit-content;
    padding: 0 40px;
}

.score_container.hide {
    display: none;
}

.score_inner {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
}

.score_inner div {
    font-family: inherit;
    flex: 1 1 0;
}

.screen {
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-in;
}

.screen-up {
    margin-top: -100vh;
}

.screen_show {
    display: block;
}

.screen_hide {
    display: none;
}

@media screen and (max-width: 768px) {
    .start__menu.slideDown {
        width: 70%;
    }

    .difficulty__button {
        min-width: 140px;
    }

    /*.gamearea {*/
    /*    width: 100%;*/
    /*}*/
}
